<% assign_meta_tags title: (t '.title') %>
<div class="privacy flex flex-col items-center">
  <div class="p-8 md:w-4/5">
    <h1 class="text-2xl font-bold md:text-center py-8"> Bulk Upper プライバシーポリシー</h1>
    <p>Kosuke Miyashita(以下、「当方」とする。)は、本ウェブアプリ上で提供するサービス(以下、「本サービス」とする。)におけるユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー(以下、「本ポリシー」とする。)を定めます。</p>
  </div>
  <div class="p-8 md:w-4/5">
    <h2 class="text-xl font-bold py-4">収集する利用者情報及び収集方法</h2>
    <p>本サービスにおいて当方が取得する利用者情報は、以下のようなものとなります。</p>
    <ul class="list-disc m-4">
      <li>氏名(ニックネームやペンネームも含む)</li>
      <li>メールアドレス</li>
      <li>プロフィール画像</li>
      <li>年齢</li>
      <li>生まれた時の性別</li>
      <li>身体情報（身長、体重等）</li>
      <li>食事内容（メニュー、カロリー、画像等）</li>
      <li>筋トレ内容（メニュー、負荷、画像等）</li>
      <li>お客様の端末GPS、写真のExif情報等による位置情報</li>
      <li>その他当方が定める入力フォームにお客様が入力する情報</li>
      <li>Cookie(クッキー)を用いて生成された識別情報</li>
      <li>OSが生成するID、端末の種類、端末識別子等のOSや端末に関する情報</li>
      <li>本サービスにおけるお客様の滞在時間、入力履歴等の行動履歴</li>
      <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
    </ul>
  </div>
  <div class="p-8 md:w-4/5">
    <h2 class="text-xl font-bold py-4"> お客様の情報を利用する目的</h2>
    <p>当方は、お客様から取得した情報を、以下の目的のために利用します。</p>
    <ul class="list-disc m-4">
      <li>本サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li>お客様の本サービスの利用履歴を管理するため</li>
      <li>本サービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</li>
      <li>当方のサービスに関するご案内をするため</li>
      <li>お客様からのお問い合わせに対応するため</li>
      <li>当方の規約や法令に違反する行為に対応するため</li>
      <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li>当方規約の変更等を通知するため</li>
      <li>以上の他、本サービスの提供、維持、保護及び改善のため</li>
    </ul>
  </div>
  <div class="p-8 md:w-4/5">
    <h2 class="text-xl font-bold py-4"> 安全管理のために講じた措置</h2>
    <p>当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
    <ul class="list-disc m-4">
      <li>本サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li>お客様の本サービスの利用履歴を管理するため</li>
      <li>本サービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</li>
      <li>当方のサービスに関するご案内をするため</li>
      <li>お客様からのお問い合わせに対応するため</li>
      <li>当方の規約や法令に違反する行為に対応するため</li>
      <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li>当方規約の変更等を通知するため</li>
      <li>以上の他、本サービスの提供、維持、保護及び改善のため</li>
    </ul>
  </div>
  <div class="p-8 md:w-4/5">
    <h2 class="text-xl font-bold py-4">第三者提供</h2>
    <p>当方は、お客様から取得する情報のうち、個人データ(個人情報保護法第2条第6項)に該当するものついては、あらかじめお客様の同意を得ずに、第三者(日本国外にある者を含みます。)に提供しません。但し、次の場合は除きます。</p>
    <ul class="list-disc m-4">
      <li>個人データの取扱いを外部に委託する場合</li>
      <li>当方や本サービスが買収された場合</li>
      <li>事業パートナーと共同利用する場合(具体的な共同利用がある場合は、その内容を別途公表します。)</li>
      <li>その他、法律によって合法的に第三者提供が許されている場合</li>
    </ul>
  </div>
  <div class="p-8 md:w-4/5">
    <h2 class="text-xl font-bold py-4">アクセス解析ツール</h2>
    <p>当方は、お客様のアクセス解析のために「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください</p>
    <p class="py-2"><%= link_to 'Googleアナリティクス利用規約', 'https://marketingplatform.google.com/about/analytics/terms/jp/' , class: "link"%></p>
  </div>
  <div class="p-8 md:w-4/5">
    <h2 class="text-xl font-bold py-4">プライバシーポリシーの変更</h2>
    <p>当方は、必要に応じて、本ポリシーの内容を変更します。本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、お客様に通知することなく、変更することができるものとします。当方が別途定める場合を除いて、変更後のプライバシーポリシーは、本サービス中のウェブページに掲載したときから効力を生じるものとします。</p>
  </div>
  <div class="p-8 md:w-4/5">
    <h2 class="text-xl font-bold py-4">お問い合わせ</h2>
    <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のお問い合わせフォームまたはメールアドレス(app.bulkupper▲gmail.com)(▲を@に置換ください)までご連絡ください。</p>
    <p class="py-2"><%= link_to 'お問い合わせフォーム', 'https://docs.google.com/forms/d/e/1FAIpQLSdU4ONXIzvrAXR5MbKWwDX0kMQD2TeJ2hZWJ5z3vLPF3E5F2g/viewform?usp=sf_link' , class: "link"%></p>
  </div>
  <div class="p-8 md:w-4/5">
    <h2 class="text-end">以上</h2>
    <h2 class="my-4 text-end">2023年1月22日制定</h2>
  </div>
</div>
