<% assign_meta_tags title: (t '.title') %>
<div class="w-full">
  <div class="mx-auto">
    <div class="flex items-center">
      <h1 class="text-xl font-bold m-4"><%= t '.title' %></h1>
    </div>
    <div class="flex flex-wrap w-full">
      <% if @feed_items.present? %>
        <%= render partial: 'workout', collection: @feed_items, as: 'workout' %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
    </div>
    <div class="flex justify-start md:justify-center btn-group w-screen m-8"><%= paginate @feed_items %></div>
  </div>
</div>
