<p><%= @user.name %>様</p>
<p>===============================================</p>
<p>Bulk Upperをいつもご利用いただきありがとうございます。</p>
<p>パスワード再発行のご依頼を受け付けました。</p>
<p>※本メールにお心当たりがない場合は破棄していただきますようお願いします。</p>
<br>
<p>こちらのリンクからパスワードの再発行を行ってください。</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>===============================================</p>
<p>お問い合わせ先(運営)</p>
<p><a href="app.bulkupper@gmail.com">app.bulkupper@gmail.com</a></p>
