<header>
  <div class="navbar bg-base-100 bg-primary">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">トレミル</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><%= link_to 'About', "#" %></li>
        <li><%= link_to 'Singup', new_user_path %></li>
        <li><%= link_to 'Login', login_path %></li>
      </ul>
    </div>
  </div>
</header>
