<% if object.errors.any? %>
  <div class="alert alert-warning shadow-lg mt-5">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
