<% flash.each do |message_type, message| %>
  <% case message_type %>
  <% when 'success'%>
    <div class="alert alert-success shadow-lg m-4 w-auto">
  <% when 'warning'%>
    <div class="alert alert-warning shadow-lg m-4 w-auto">
  <% when 'error' %>
    <div class="alert alert-error shadow-lg m-4 w-auto">
  <% else  %>
    <div class="alert alert-info shadow-lg m-4 w-auto">
  <% end %>
      <div>
        <%= message %>
      </div>
    </div>
<% end %>
