<footer class="footer footer-center bg-primary-focus p-10 text-base-content">
  <div class="grid grid-flow-col gap-4">
    <%= link_to '利用規約', terms_path, class: "link link-hover" %>
    <%= link_to 'プライバシーポリシー', privacy_path, class: "link link-hover" %>
    <%= link_to 'お問い合わせ', contact_path, class: "link link-hover" %>
  </div> 
  <div>
    <p>Copyright © 2023 - All right reserved by Kosuke Miyashita</p>
  </div>
</footer>
