<div class="flex flex-wrap">
  <h1 class="text-5xl font-bold"><%= t '.title' %></h1>
  <button class="btn btn-outline">
    <%= link_to t('.to_workouts_page'), workouts_path %>
  </button>
</div>
<div class="container mx-auto px-8 w-full flex flex-row justify-between">
  <div>
    <% if @meals.present? %>
      <%= render @meals %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>
